[build]
builder = "NIXPACKS"

[deploy]
startCommand = "cd backend && npm start"
restartPolicyType = "ON_FAILURE"

[[services]]
name = "backend"
source = "backend"

[[services]]
name = "frontend" 
source = "frontend"